<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Join trova!</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="shortcut icon" href="../../../public/images/favicon.png">
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Hotjar Tracking Code for trova.social -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:762809,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>

<body id="feed">
<div class="top-bar">
    <div class="container">
        <img src="../../../public/images/logo.png" alt="trova">
    </div>
</div>
<div class="colors-border"></div>

<div class="copy">
    <div class="container">
        <p>Thanks for your interest in Trova!</p>
        <p>It's not quite ready yet, but I'd love to keep you updated and let you know when we launch.</p>
        <p>Please enter your name and email address below.&nbsp; It'll be worth the wait. 😉</p>
    </div>
</div>

<div class="container">
    <div class="form-wrapper">
        <form>
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input class="cta-btn" type="submit" value="Let me know">
        </form>
        
        <p>
            <img src="../../../public/images/spinner.svg" alt="Loading...">
            <span id="success"><span id="green-success-text">Sweet, you're all signed up! I'll personally contact you as soon as I can.</span><br><br>In the meantime, feel free to engage with us through the social media links below!</span>
            <span id="fail-email">Whoops, looks like you entered an invalid email address.</span>
            <span id="fail-generic">Uh oh, something went wrong! Double check your info to make sure your name and email address are correct and valid.</span>
        </p>
    </div>
</div>

<div class="social-links">
    <a href="http://facebook.com/trova.social" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
    <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
    <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i>
</div>

<script src="../../../public/javascripts/landing.js"></script>
</body>
</html>
